#
# Focaltech Touchscreen driver configuration
#

config TOUCHSCREEN_CHIPONE
    tristate "Chipone Touchscreen"
    default y
    help
      Say Y here if you have Focaltech touch panel.
      If unsure, say N.
