# SPDX-License-Identifier: GPL-2.0-only
#
# Fingerprint driver configuration
#
menuconfig INPUT_FINGERPRINT
        bool "Fingerprints"
        help
          Say Y to config fingerprint manufacturer

source "drivers/input/fingerprint/silead/Kconfig"

